@model Đồ_án_Web.Models.Product
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/Master_Layout.cshtml";
}


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/FRONTEND/Master_Layout.css" rel="stylesheet" />
    <link href="~/Content/FRONTEND/Cart.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="item-wrapper">
            <div class="item-wrapper-img">
                <img id="product-image" src="@Url.Content(Model.ProImage)" alt="Product Image" />
            </div>
            <div class="item-wrapper-info">
                <div class="title-wrapper">
                    <h1 id="product-title">@Model.ProName</h1>
                </div>
                <div class="color-wrapper">
                    <p>@Model.ProDetail.RGB</p>
                </div>
            </div>
            <div class="item-wrapper-price">
                <div class="price-wrapper">@Model.ProDetail.Price<sup><i>đ</i></sup></div>
                <input type="number" name="buy" value="" placeholder="Nhập Số lượng Mua" />
            </div>
        </div>
        <div class="item-wrapper">
            <div class="item-wrapper-img">
                ￼
            </div>
            <div class="item-wrapper-info">
                <div class="title-wrapper">
                    <h3>Pin Sạc Dự Phòng</h3>
                </div>
                <div class="color-wrapper">
                    <p>Màu nâu</p>
                </div>
            </div>
            <div class="item-wrapper-price">
                <div class="price-wrapper">330.000<sup><i>đ</i></sup></div>
                <div class="pricediscount-wrapper">550.000<sup><i>đ</i></sup></div>
                <input type="number" name="buy" value="" placeholder="Nhập Số lượng Mua" />
            </div>
        </div>
        <p>Tạm tính :</p>
        <hr>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
</body>
</html>